.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  @font-face {
   font-family: "acquest-script";
   font-style: normal;
   font-weight: 400;
   src: url("./font/acquest-script.woff2") format("woff2");
   font-display: swap;
 } 
 @font-face {
    font-family: "AkayaKanadaka-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("./font/AkayaKanadaka-Regular.ttf") format("ttf");
    font-display: swap;
  } 

  
  html {
    height: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden  */
  }
  
  body {
    width: 100%;
    min-height: 100%;
    font-family: "AkayaKanadaka-Regular";
    font-size: calc(10px + 5 * (100vw / 1555));
    line-height: calc(10px + 10 * (100vw / 1555));
    font-weight: 400;
    color: black;
    background-color: #fff;
    min-width: 320px;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
  }
  button,
  a{
   cursor: pointer;
   text-decoration: none;
   color: black;
  }
  p,
  h2,
  h1{
    margin: 0;
  }
  li{
    list-style: none;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .navigation__li-a{
    color: #fff;
    font-size: calc(10px + 6 * (100vw / 1555));
  }
  .navigation{
    background: rgba(0, 0, 0, 0.74);
  }
  .main__h2{
    color: #fff;
    font-size: calc(20px + 38 * (100vw / 1555));
    line-height: calc(10px + 50 * (100vw / 1555));
    margin-bottom: 20px;
  }
  .main__p{
    color: #fff;
    font-size: calc(14px + 10 * (100vw / 1555));
    margin-bottom: 150px;
  }
  .main-section__h2{
    font-size: calc(18px + 18 * (100vw / 1555));
  }
  .section-carusel__h2{
    font-size: calc(18px + 18 * (100vw / 1555));
    color: #fff;
  }
  .section-dop__h2{
    font-size: calc(18px + 18 * (100vw / 1555));
    color: #fff;
  }
  .section-dop__p{
    font-size: calc(15px + 10 * (100vw / 1555));
  }
  .section-form__h2{
    color: #fff;
    font-size: calc(18px + 18 * (100vw / 1555));
  }
  .section-form__p{
    color: #fff;
    font-size: calc(10px + 10 * (100vw / 1555));
  }
  .section-form__paragraf{
    font-size: calc(5px + 10 * (100vw / 1555));
  }
  .footer__h2{
    color: #fff;
    font-size: calc(18px + 16 * (100vw / 1555));
  }
  .footer__li-ul-li{
    color: #fff;
    font-size: calc(10px + 10 * (100vw / 1555));
  }
  .svg--color{
    fill: #B9121A;
  }
  .header__section{
    padding: 20px 5% 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding-right: 20%;
  }
  .header__li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21%;
  }
  .header__li:nth-child(2){
    width: 29%;
  }
  .header__li:nth-child(3){
    width: 28%;
  }
  .svg--color--wight{
    margin-right: 2%;
  }
  .navigation__ul{
    padding: 20px 5% 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation__li{
    margin-right: 2%;
  }
  .navigation__li:nth-child(5){
    margin-right: 23%;
  }
  .navigation__li:nth-child(6){
    margin-right: 0;
  }
  .main__section{
    background-image: url("./img/jpg/widen_414_q90_1401451_2078c065f51aaac1f1d136ebd.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding: 100px 5% 20px;
  }
  .button-main{
    color: #fff;
    background-color: #B9121A;
    height: 60px;
    font-size: calc(10px + 10 * (100vw / 1555));
    border: none;
    border-radius: 50px;
    width: 25%;
    margin-right: 5%;
  }
  .button-main--color{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.74);;
    height: 60px;
    font-size: calc(10px + 10 * (100vw / 1555));
    border: none;
    border-radius: 50px;
    width: 25%;
  }
  .main-section{
    padding: 50px 5% 150px;
  }
  .main-section__ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20%;
    margin-top: 100px;
  }
  .main-section__li{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed #B9121A;
    border-radius: 50px;
    padding: 50px 0 50px;
    width: 100%;
  }
  .main-section__p{
    text-align: center;
    margin-top: 20px;
  }
  .section-carusel{
    background-color: rgba(0, 0, 0, 0.74);
  }
  .section-carusel__h2{
    text-align: center;
  }
  .section-dop{
    background-color: rgba(0, 0, 0, 0.74);
  }
  .section-dop__h2{
    text-align: center;
    padding: 100px 0 100px;
  }
  .section-dop__ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .section-dop__li:nth-child(1){
    background-image: url("./img/jpg/Без\ названия.jpg");
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90%;
  }
  .section-dop__li:nth-child(2){
    background-image: url("./img/jpg/foto-snyatiya-plitki-s-pola.jpg");
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90%;
  }
  .section-dop__p{
    padding-top: 200px;
    padding-left: 50%;
    font-weight: 700;
  }
  .section-form{
    padding: 100px 5% 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-form__form{
    background-color: rgba(0, 0, 0, 0.74);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 50px 0 50px;
  }
  .section-form__input--top{
    margin-top: 50px;

  }
  .section-form__input{
    margin-bottom: 20px;
    width: 60%;
    height: 25px;
    box-sizing: border-box;
    padding: 5px 10px 5px;
  }
  .section-form__input--hight{
    height: 100px;
  }
  .section-form__div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  .section-form__p{
    margin-left: 10px;
  }
  .button-form{
    color: #fff;
    background-color: #B9121A;
    width: 50%;
    border: none;
    height: 40px;
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  .section-form__paragraf{
    width: 300px;
  }
  





